<!DOCTYPE html>
<html lang="ja">
  <body>
        <div class="footer-inner">
          <div class="logo">
            <img src="./img/logo.png" alt="フッターロゴ" />
          </div>
          <div>
            <dl>
              <dt>店舗住所</dt>
              <dd>〒123-4567 東京都千代田区丸の内一丁目1-1</dd>
              <dt>電話番号</dt>
              <dd>012-3456-7890</dd>
              <dt>営業時間</dt>
              <dd>10:00～15:00（LO.14:30）</dd>
              <dt>定休日</dt>
              <dd>水曜日 詳細は営業日カレンダーを確認ください</dd>
            </dl>
          </div>
          <div>
            <ul>
              <li><a href="./concept.html">Concept</a></li>
              <li><a href="./menu.html">Menu</a></li>
              <li><a href="./access.html">Access</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <a href="#">
              <img src="./img/insta.png" alt="インスタロゴ" />
            </a>
          </div>
        </div>
        <p><small>&copy;2023 Yoshi all rights reserved</small></p>
  </body>
</html>